.members,
.singleMessage,
.message,
.task,
.task div {
    gap: 10px;
}

.task input,
.header > *:last-child {
    cursor: pointer;
}

.sections {
    gap: 20px;
}

.sections p {
    margin: 0;
    font-size: 0.875rem;
}

.home section p:last-of-type {
    margin-bottom: 0;
}

.header {
    align-items: center;
    justify-content: space-between;
}

.header p {
    font-size: 1rem;
}

.teams {
    gap: 5px;
}

.teams .header p {
    padding-bottom: 5px;
}

.team {
    align-items: center;
    gap: 10px;
    padding: 2.5px 5px;
    border-radius: 5px;
    /* background-color: whitesmoke; */
    /* border-bottom: 1px solid whitesmoke; */
    /* width: fit-content; */
}

.members div {
    align-items: center;
    gap: 10px;
}

.members img {
    border-radius: 50%;
    height: 25px;
}

.task div {
    align-items: center;
}

.task input {
    margin: 0;
}

.singleMessage p:first-of-type {
    white-space: nowrap; 
}

.owner, 
.other {
    color: white;
    border-radius: 10px;
    padding: 2.5px 5px;
}

.other {
    background-color: rgb(215, 215, 215);
}

.owner {
    background-color: rgb(155, 184, 253);
}

.more {
    position: relative;
}

.more div {
    position: absolute;
    right: 5px;
    top: 25px;
    padding: 10px;
    border: 0.5px solid gray;
    border-radius: 5px;
    background-color: white;
}

.more button {
    text-wrap: nowrap;
    border: 0.5px solid gray;
    font-size: 0.6875rem;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .sections {
        grid-template-columns: repeat(2, 1fr);
    }
}