.members,
.singleMessage,
.message,
.task,
.task div {
    gap: 10px;
}

.task input,
.header > *:last-child {
    cursor: pointer;
}

.home section p {
    margin: 0;
}

.home section p:last-of-type {
    margin-bottom: 0;
}

.header {
    align-items: center;
    justify-content: space-between;
}

.members div {
    align-items: center;
    gap: 10px;
}

.members img {
    border-radius: 50%;
    height: 25px;
}

.task div {
    align-items: center;
}

.task input {
    margin: 0;
}

.singleMessage p:first-of-type {
    white-space: nowrap; 
}

.owner, 
.other {
    color: white;
    border-radius: 10px;
    padding: 2.5px 5px;
}

.other {
    background-color: rgb(215, 215, 215);
}

.owner {
    background-color: rgb(155, 184, 253);
}
