.sections {
    gap: 20px;
    height: calc(100vh - 105px);
}

.chat p {
    margin: 0;
}

.messages {
    gap: 20px;
    overflow-y: auto;
    height: 100%;
}

.bar {
    align-items: center;
}

.bar form {
    padding: 10px 20px;
    background-color: whitesmoke;
    border-radius: 5px;
    align-items: center;
}

.bar input {
    width: 100%;
}

.bar input:focus {
    outline: none;
}

.bar button {
    border: none;
    color: gray;
    background-color: whitesmoke;
    cursor: pointer;
}

.owner,
.other {
    align-items: center;
    gap: 10px;
}

.owner {
    justify-content: end;
    flex-direction: row-reverse;
}

.owner p,
.other p {
    margin: 0px;
    max-width: 80%;
    border-radius: 10px;
    padding: 10px;
    word-wrap: break-word;
}

.owner img,
.other img
{
    height: 30px;
    border-radius: 50%;
}

.owner p {
    background-color: rgb(155, 184, 253);
    color: white;
}

.other p {
    background-color: rgb(215, 215, 215);
    color: white;
}

@media only screen and (max-width: 599.9px) {
    .sections {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 600px) {
    .sections {
        grid-template-rows: 1fr auto;
    }

    .members {
        flex-direction: column;
    }
}