.topbar {
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    color: gray;
    align-items: center;
    justify-content: space-between;
}

.topbar div,
.icons {
    align-items: center;
}

.topbar h3 {
    margin: 0;
}

.topbar img {
    height: 20px;
    border-radius: 50%;
}

.icons {
    gap: 20px;
}

.icons > * {
    cursor: pointer;
}

.icons div {
    gap: 5px;
}

.team {
    position: relative;
    background-color: whitesmoke;
    border-radius: 5px;
    z-index: 1;
}

.team p,
.dropDown p,
.dropDown button {
    font-size: 0.75rem;
}

.team > *,
.dropDown p{
    padding: 5px 10px;
    margin: 0;
}

.icon {
    height: 100%;
    width: auto;
}

.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dropDown {
    position: absolute;
    background-color: whitesmoke;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    top: 27px;
}

.dropDown p {
    background-color: white;
    border-radius: 5px;
}

.dropDown button {
    border: none;
    background-color: white;
    width: 100%;
    color: gray;
    cursor: pointer;
}