.topbar {
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    color: gray;
    align-items: center;
    justify-content: space-between;
}

.topbar div,
.icons {
    align-items: center;
}

.topbar h3 {
    margin: 0;
}

.topbar img {
    height: 20px;
    border-radius: 50%;
}

.icons {
    gap: 20px;
}

.icons > *,
.invites button,
.create button,
.dropDown button {
    cursor: pointer;
}

.icons div {
    gap: 5px;
}

.team,
.dropDown {
    width: 100px;
}

.team {
    position: relative;
    background-color: whitesmoke;
    justify-content: space-between;
    border-radius: 5px;
    z-index: 1;
}

.team p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.team p,
.dropDown > * {
    font-size: 0.6875rem;
}

.team > * {
    padding: 5px 10px;
    margin: 0;
}

.icon {
    height: 100%;
    width: auto;
}

.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dropDown {
    position: absolute;
    background-color: whitesmoke;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    top: 26px;
    cursor: default;
}

.dropDown button {
    background-color: white;
    border-radius: 5px;
    border: none;
    width: 100%;
    color: gray;
    padding: 5px;
}

.create,
.invites {
    top: 40vh;
    cursor: default;
}

.create form {
    gap: 10px;
}

.create button {
    width: 100%;
}

.invites p {
    margin: 0;
}