.topbar {
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    color: gray;
    align-items: center;
    justify-content: space-between;
}

.topbar div {
    align-items: center;
}

.topbar h3 {
    margin: 0;
}

.icons {
    gap: 20px;
}

.icons > * {
    cursor: pointer;
}

.icons div {
    gap: 5px;
}

.user {
    border: 1px solid;
    border-radius: 50%;
}

.team {
    background-image: linear-gradient(to bottom right, rgb(110, 153, 254), rgb(155, 184, 253));
    box-shadow: 0 0 5px 1px rgba(110, 153, 254, 0.3);
    color: white;
    border-radius: 5px;
    font-size: 0.875rem;
}

.team > * {
    padding: 5px 10px;
    margin: 0;
}

.icon {
    height: 100%;
    width: auto;
}