.users p,
.users h3 {
    margin: 0;
}

.users section {
    min-height: calc(100vh - 105px);
}

.users dialog {
    top: 40vh;
}

.users button {
    cursor: pointer;
}

.user {
    align-items: center;
    gap: 20px;
}

.list {
    gap: 20px;
}

.user img {
    border-radius: 50%;
    height: 40px;
}

.header {
    justify-content: space-between;
    align-items: center;
}

.header button {
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, rgb(135, 170, 253), rgb(155, 184, 253));
    box-shadow: 0 0 5px 1px rgba(135, 170, 253, 0.3);
}