.header {
    justify-content: space-between;
    align-items: center;
}

.header button {
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, rgb(135, 170, 253), rgb(155, 184, 253));
    box-shadow: 0 0 5px 1px rgba(135, 170, 253, 0.3);
}

.users section {
    min-height: calc(100vh - 105px);
}

.users button {
    cursor: pointer;
}

.user {
    border-bottom: 1px solid whitesmoke;
}

.user:hover {
    background-color: whitesmoke;
}

.user:last-of-type {
    border-bottom: none;
}

.user img {
    border-radius: 50%;
    height: 25px;
}

.user td,
.list th {
    padding: 10px;
}

.list {
    overflow-x: scroll;
}

.list table {
    border-collapse: collapse;
    min-width: 100%;
}

.list tbody {
    font-size: 0.875rem;
}

.list th {
    font-size: 0.6875rem;
    font-weight: 500;
    text-align: left;
}

.list td {
    align-items: center;
    gap: 20px;
}

.invite {
    z-index: 1;
    max-width: 80%;
    border-radius: 5px;
    border: 0.5px solid gray;
    color: gray;
}

.invite input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 0.5px solid gray;
}

.inviteButtons {
    gap: 5px;
    align-items: center;
}

.invite button {
    width: 100%;
    border: 0.5px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: whitesmoke;
}

.invite form {
    gap: 10px;
}

.add {
    color: rgb(170, 170, 170);
    cursor: pointer;
}

.add td:first-of-type {
    display: flex;
    align-items: center;
}

.add td > * {
    width: 25px;
    height: auto;
}

.removeModal {
    border: 0.5px solid gray;
    border-radius: 5px;
}

.removeModal p {
    margin: 0;
}

.removeModal > div {
    gap: 10px;
    text-align: center;
}

.removeModalButtons {
    display: flex;
    gap: 5px;
}

.removeModalButtons button {
    width: 100%;
    border-radius: 5px;
    border: 0.5px solid gray;
    background-color: whitesmoke;
    padding: 5px 10px;
}

.removeModalButtons button:first-of-type {
    background-color: rgb(255, 110, 110);
    color: white;
}

.removeButton:hover {
    color: rgb(255, 110, 110);
    cursor: pointer;
}