.tasks {
    color: gray;
}

.tasks section {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    gap: 20px;
    overflow: hidden;
}

.sections {
    gap: 20px;
}

.list label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.list input[type = text] {
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
}

.list input[type = text]:focus {
    border: 1px solid rgb(135, 112, 250);
}

.list input[type = checkbox] {
    margin: 0 20px;
}

.item {
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    .list {
        min-height: 84.5vh;
    }

    .sections {
        grid-template-columns: 2fr 1fr;
    }
}