.tasks {
    color: gray;
}

.tasks section {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    /* gap: 10px; */
    overflow: hidden;
}

.sections {
    gap: 20px;
}

.list p {
    margin: 0;
}

.list div p:first-child {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 20px;
}

.list div p:last-child {
    white-space: nowrap;
    text-align: end;
}

.list form {
    margin-bottom: 10px;
    gap: 10px;
    object-fit: cover;
}

.list input[type = text],
.list input[type = date] {
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    padding: 10px 20px;
    outline: none;
    border-radius: 5px;
}

.list input[type = text],
.list input[type = date]::-webkit-datetime-edit-text,
.list input[type = date]::-webkit-datetime-edit-month-field,
.list input[type = date]::-webkit-datetime-edit-day-field,
.list input[type = date]::-webkit-datetime-edit-year-field {
    color: gray;
}

.list input[type = text]:focus,
.list input[type = date]:focus {
    border: 1px solid rgb(135, 112, 250);
}

.list input[type = checkbox] {
    margin-right: 20px;
}

.item {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: white;
    color: gray;
    align-items: center;
}

.item div {
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.item div > *:last-child {
    font-size: 0.6875rem;
}

.details {
    gap: 10px;
}

.details h5 {
    margin: 0;
}

.details h5 {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.details input[type = text]:first-of-type {
    font-size: 1.5rem;
    padding: 0;
    border: none;
    color: gray;
}

@media only screen and (min-width: 768px) {
    .list {
        min-height: 84.5vh;
    }

    .sections {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 992px) {
    .sections {
        grid-template-columns: 2fr 1fr;
    }

    .list form {
        grid-template-columns: 3fr 1fr;
        border: 1px solid whitesmoke;
        border-radius: 5px;
        gap: 0;
    }

    .list input[type = text],
    .list input[type = date] {
        border-radius: 0;
    }
}