.aside {
    width: fit-content;
    padding: 10px;
    background-color: white;
    position: fixed;
    height: 100%;
    gap: 10px;
}

.aside > * {
    text-decoration: none;
    color: gray;
    padding: 10px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.aside > *:hover:not(:first-child) {
    background-color: whitesmoke;
    /* box-shadow: 0 0 5px 1px rgba(128, 128, 128, 0.1); */
    box-shadow: none;
    color: gray;
}

.aside h3 {
    margin: 5px 0;
}