.aside,
.mobile {
    width: fit-content;
    padding: 10px;
    background-color: white;
    position: fixed;
    height: 100%;
    gap: 10px;
    overflow-y:auto
}

.aside > *,
.mobile > * {
    text-decoration: none;
    color: gray;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.aside > * {
    padding-right: 40px;
}

.aside h3 {
    margin: 0;
}

.mobile {
    align-items: center;
    padding: 0;
}

.mobile h3 {
    font-size: 0.75rem;
}

.aside h6 {
    margin: 0;
    margin-left: 10px;
    padding: 0;
    bottom: 20px;
}

.aside h6:hover,
.aside h3:hover {
    background-color: white;
}

@media only screen and (min-height: 380px) {
    .aside h6 {
        position: absolute;
    }
}